/* login alert */

#login-container {
    background-color: #3498db;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 40%;
    margin: 17% auto;
    display: none;
}

#login-container h2 {
    color: #fff;
}

#login-container p {
    color: #fff;
    font-size: 16px;
}

#login-link {
    text-decoration: none;
    color: #ffc;
    font-weight: bold;
}

/* navbar */
body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: sticky;
    top: 0;
    border-radius: 3px;
}

.brand {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.brand span {
    font-weight: bold;
    margin-left: 10px;
    color: rgb(217, 235, 242);
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    cursor: pointer;
}

.user-avatar img {
    width: 5ch;
}

.username {
    color: rgb(204, 246, 255);
    font-size: 30px;
    margin: 0 10px;
    font-weight: bold;
    padding: 0px 10px;
    cursor: pointer;
}

/* post a tweet */

.tweet-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 50px auto;
}

h2 {
    color: #333;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.user-username {
    margin-left: 10px;
    font-weight: bold;
}

.tweet-input {
    width: 90%;
    height: 150px;
    padding: 10px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

.post-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.message {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.tweet-input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.ai {
    width: 6ch;
    cursor: pointer;
    text-align: left;
}