body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url('./static/NSUT_logo.png');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.651);
}

.login-card {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-strength {
    margin-top: 10px;
}

progress {
    width: 100%;
    height: 20px;
}

.password-strength-text {
    margin-top: 5px;
    font-size: 14px;
}

#password-strength-label {
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #4CAF50;
    display: block;
    margin-top: 10px;
}

.signup {
    margin-top: 10px;
    margin-left: 2px;
    text-align: center;
}

#error {
    color: red;
    font-weight: bold;
}

#message {
    color: rgb(240, 171, 81);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}